<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="#">
        <img src="assets\images\brand-image.png" width="30" height="30">  Housing</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" routerLink="Buy">Buy </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"  routerLink="Rent">Rent</a>
        </li>
        <li class="nav-item ">
          <a class="nav-link "  routerLink="add-property"> List Property
              <span class="free">Free</span> 
          </a>
        </li>
      </ul>
      <ul class="navbar-nav">
        <li class="nav-item ">
          <a class="nav-link"  routerLink="Register">Register </a>
        </li>
        <li class="nav-item ">
            <a class="nav-link"  routerLink="Login">Login </a>
          </li>
      </ul>
    </div>
  </nav>